.rolext-panel {
    display: flex;
    flex-direction: column;
    background: white;
    /*test*/
    /*
    position: fixed;
    top: 30vh;
    left: calc(50% - 15rem); 
    z-index: 100; */

  }
  .rolext-panel-body-el {
    padding: 8px;
  }
  