.rolext-header-title-main {
    color: @primary-color;
}

.rolext-header-title-sub {
    color: @btn-primary-color;
}

.rolext-header-content {
    color: @primary-color;
}

.rolext-header-content-label {
    color: @primary-color;
}

.rolext-header-content-value {
    color: @btn-primary-color;
}