.rolext-header-container {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 0.125rem;
}

.rolext-header-logo {
    flex: 0 0 5%;
    justify-content: center;
}

.rolext-header-title {
    display: flex;
    flex-direction: column;
    flex: 1 1 35%;
    justify-content: center;
    align-items: flex-start;
    line-height: 0.8rem;
}

.rolext-header-title-main {
    color: #1890ff;
    font-size: 2rem;
}

.rolext-header-title-sub {
    color: white;
    font-size: 1rem;
}

.rolext-header-content {
    flex: 1 1 60%;
    justify-content: flex-end;
    align-items: center;
    color: #1890ff;
    font-weight: bolder;
    display: flex;
    gap: 0.25rem;
    padding: 0.25rem;
}

.rolext-header-content-label {
    color: #1890ff;
}

.rolext-header-content-value {
    color: white;
}