.rolext-about-wnd {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.rolext-about-wnd>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.rolext-about-wnd h1 {
    color: #1890ff;
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
}

.rolext-about-wnd h2 {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

.rolext-about-wnd-link a {
    color: #1890ff;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

.rolext-about-wnd-link a:hover,
.rolext-about-wnd-link a:active {
    color: white;
}

.rolext-about-wnd-content {
    color: white;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: white 1px solid;
    padding: 0.5rem;
}