.rolext-wfsfeaturegrid {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.rolext-wfsfeaturegrid-menubar-container {
    flex: 0 1 auto;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
}

.rolext-wfsfeaturegrid-content-container {
    flex: 1 1 auto;
}