.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.rolext-about-control {
    top: 0.5em;
    right: 0.5em;
}

.rolext-feature-info-control {
    top: 0.5em;
    left: 2.5em;
}

.rolext-coordinate-control {
    top: 4.0em;
    left: 0.5em;
}

.rolext-zoom-control {
    top: 6.1em;
    left: 0.5em;
}

.rolext-measure-control {
    top: 8.3em;
    left: 0.5em;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}